<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581846295143-1pbn6rbrkcnup3k8sihgu58pu3j24375.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581846295143-1pbn6rbrkcnup3k8sihgu58pu3j24375</string>
	<key>API_KEY</key>
	<string>AIzaSyBxkz4HscyFt6Mc2Plbj__fWhTn5b9TQmA</string>
	<key>GCM_SENDER_ID</key>
	<string>581846295143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthen</string>
	<key>PROJECT_ID</key>
	<string>mobile-lab-flutter-fireb-aad72</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-lab-flutter-fireb-aad72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581846295143:ios:337d0986d363bde3df6ac2</string>
</dict>
</plist>